@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: lorabold;
    src: url(lorabold.ttf);
}

.answers ol li button {
    margin-bottom: 10px !important;
}

body {
    overflow-x: hidden;
}

* {
    font-family: Helvetica, Helvetica, serif;
}

footer {
    background-color: #3A0E4B;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
}

header nav ul li a {
    color: white;
    font-family: lorabold, Helvetica, serif;
}

header nav ul {
    text-align: left;
    margin-left: 20px;
}

footer p {
    color: white;
    text-align: center;
}

.title h3 {
    margin-top: 0;
    font-family: lorabold, Helvetica, serif;
}

.title {
    padding: 0;
    margin: 0;
}

.box {
    border-radius: 10px;
    margin-right: 10px;
    max-width: 900px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

footer p,
body,
html,
nav,
nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    color: white;
}

header {
    background-color: #3A0E4B;
}

h3 {
    color: #3A0E4B;
}

.box a {
    text-decoration: none;
}

button {
    border: #3A0E4B;
    padding: 10px;
    background-color: #3A0E4B;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

main {
    padding: 20px;
    background-color: rgba(0, 0, 0, .2);
    min-height: 100%;
    height: auto;
}

.search {
    display: flex;
    padding: 10px;
}

.selects {
    padding: 10px;
}

.searchTerm {
    width: 100%;
    padding: 5px;
    min-height: 20px;
    border-radius: 5px;
}

button:disabled {
    background-color: #848FA5;
    border: #848FA5;
    cursor: default;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}

.active {
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    color: white;
}

.dropdown-content a:hover {
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

.bank {
    padding: 0 15px 15px;
}

main div {
    margin-top: 0;
    padding: 0 10px 10px 6px;
}

main h3:first-child {
    margin-top: 0;
    padding-top: 0;
}

.chapter-summary {
    margin-top: 0;
    padding: 0 15px 15px;
}

.chapter-summary h3:first-child {
    margin-top: 0;
    padding-top: 0;
}

/*confetti*/

@keyframes confetti-slow {
    0% {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
        transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
    }
}

@keyframes confetti-medium {
    0% {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
        transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
    }
}

@keyframes confetti-fast {
    0% {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
        transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
    }
}

.container {
    width: 100vw;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

.confetti-container {
    margin: 0;
    padding: 0;
}

.confetti {
    position: absolute;
    top: -10px;
    border-radius: 0;
}

.confetti--animation-slow {
    animation: confetti-slow 2.25s linear 1 forwards;
}

.confetti--animation-medium {
    animation: confetti-medium 1.75s linear 1 forwards;
}

.confetti--animation-fast {
    animation: confetti-fast 1.25s linear 1 forwards;
}

footer p {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 4px;
    padding-right: 10px;
}

footer p a {
    color: white !important;
}

.figure-name {
    margin-bottom: 5px;
}

.bank ol {
    margin: 0;
}

.figureslist ol {
    margin: 0;
    padding: 0;
}

.figureslist ol li {
    list-style-type: none;
}

p {
    max-width: 1000px;
}

.box {
    margin-left: 0;
    margin-right: 0;
}

.app-icons {
    display: flex;
    align-items: center;
}

.vertical {
    width: 300px;
    flex-direction: column;
}

.android {
    width: 190px;
}

.apple {
    width: 150px;
}

.figure-img {
    height: 250px;
}

#chapterselect {
    max-width: 300px;
    font-family: lorabold, Helvetica, serif;
}

#chapterselect option {
    font-family: lorabold, Helvetica, serif;
}

.searchTerm {
    max-width: 300px;
    font-family: lorabold, Helvetica, serif;
}

html, body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background: url('../img/back.png') no-repeat fixed center center;
    -o-background-size: cover;
    background-size: cover !important;
    height: 100%;
}

main {
    padding-bottom: 100px;
}
